
<h2> Season Calls Avaliable</h2>


<div *ngFor="let callproducts of callproducts; index as productId">

    <h3>
<a [title]="callproducts.name"[routerLink]="['/callproducts', productId]">
 {{callproducts.name}}

 <br>
 
</a>
<p  *ngIf="callproducts.Image"[routerLink]="['/callproducts', productId]">

    <img src="https://i.ibb.co/bFTLLxT/rsz-2white-season-call.jpg" alt="rsz-2white-season-call" border="0">
    <br>
    <button (click)="['/callproducts', productId]">More Info </button>
    
<p *ngIf="callproducts.Image2"[routerLink]="['/callproducts', productId]">
<img src="https://i.ibb.co/XbD9xh2/rsz-yellow.jpg" alt="rsz-yellow" border="0">
<br>
<button (click)="['/callproducts', productId]">More Info</button>
  </h3>
  




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->