
<h2> Current Calls Avaliable</h2>


<div *ngFor="let callproducts of callproducts">

    <h3>
<a [title]="callproducts.name">
 {{callproducts.name}}
 <br>
 <a href=""><img src="https://i.ibb.co/sPk204w/black-call.jpg" alt="black-call" border="0"></a>
</a>

<p  *ngIf="callproducts.description">
    Description: 
    <br>
    {{ callproducts.description }}
  </p>

  
  </h3>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->